.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
  border-bottom: 2px solid #ffffff !important;
}

.ant-menu-horizontal > .ant-menu-item a {
  color: white;
}

.ant-menu-horizontal > .ant-menu-item-selected a {
  color: #ffffff;
}
.ant-menu-horizontal > .ant-menu-item a:hover {
  color: #ffffff !important;
}

.ant-typography {
  color: white;
}

.ant-typography a {
  color: #faad14;
}

.ant-modal-content {
  overflow: auto;
  border-radius: 1rem;
  background: rgba(240, 248, 255, 0.1);
  background: -moz-linear-gradient(
    left,
    rgba(240, 248, 255, 0.8) 0%,
    rgba(240, 248, 255, 1) 50%,
    rgba(240, 248, 255, 0.8) 100%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(240, 248, 255, 0.8) 0%,
    rgba(240, 248, 255, 1) 50%,
    rgba(240, 248, 255, 0.6) 100%
  );
  background: linear-gradient(
    to right,
    rgba(240, 248, 255, 0.8) 0%,
    rgba(240, 248, 255, 1) 50%,
    rgba(240, 248, 255, 0.8) 100%
  );
}

.ant-card {
  background: #6762e0 !important;
  border-radius: 10px !important;
  border: none !important;
  color: yellow !important;
}

.ant-card-body {
  background: #6762e0 !important;
  border-radius: 10px !important;
}

.ant-card-meta-title {
  color: white !important;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: Sora;
}

.ant-card-meta-description {
  color: white !important;
  letter-spacing: 1px;
  font-family: Sora;
  font-size: 13px !important;
}

.ant-card-meta-detail > div:not(:last-child) {
  font-size: 13px !important;
}

.ant-card-actions {
  color: yellow !important;
  border-radius: 10px !important;
}

.ant-card-actions > li > span a:not(.ant-btn),
.ant-card-actions > li > span > .anticon {
  color: yellow !important;
}

.ant-tabs-tab {
  font-size: 13px;
  padding: 8px;
  width: 200px;
  margin: auto !important;
  display: inline-block;
  text-align: center;
}
.ant-card-actions {
  background: #6762e0 !important;
  border-top: none;
}

.ant-tabs-tab-active {
  border-radius: 2px;
  background: rgba(240, 248, 255, 0.1);
  background: -moz-linear-gradient(
    left,
    rgba(240, 248, 255, 0.45) 0%,
    rgba(240, 248, 255, 0.25) 50%,
    rgba(240, 248, 255, 0.1) 100%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(240, 248, 255, 0.45) 0%,
    rgba(240, 248, 255, 0.25) 50%,
    rgba(240, 248, 255, 0.1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(240, 248, 255, 0.45) 0%,
    rgba(240, 248, 255, 0.25) 50%,
    rgba(240, 248, 255, 0.1) 100%
  );
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #ffffff;
}

.ant-tabs-top > .ant-tabs-nav::before {
  border-bottom: none;
}
.ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar {
  width: 0% !important;
}
.ant-tabs > .ant-tabs-nav .ant-tabs-nav-list {
  margin: 0px;
}

.ant-alert-warning {
  width: -webkit-fill-available !important;
}

.ant-dropdown-menu {
  background-color: #ea2789 !important;
  border-radius: 12px !important;
}

.ant-dropdown {
  border-radius: 12px !important;
}

.ant-btn:hover {
  transform: scale(1.05) !important;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.836) !important;
}

.ant-table.ant-table-middle {
  background-color: transparent !important;
  font-size: 13px;
}

.ant-table-thead > tr > th {
  background: transparent;
  color: white;
  letter-spacing: 1px;
  padding-bottom: 20px !important;
}

.ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
 top: 40%;
 height: 1.4em;
 background-color: white;
}

.ant-modal-body {
  background-image: url('assets/background.jpg') !important;
  -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.ant-table {
  background: transparent !important;
}

.ant-upload.ant-upload-select-picture-card {
  width: 150px;
  height: 150px;
}

.ant-upload-picture-card-wrapper {
  height: 100%;
  margin: auto;
  align-items: center;
}